
.navbar{
    background-color: #9e9e9e;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.menu{
    list-style-type: none;
    display: flex;
  
}
.menu li {
    padding:0px 15px;
    color: white;
    cursor: pointer;
    
}

.menu li a{

    color: white;
    text-decoration: none;
    
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.menu li:hover{
    color:#b4b4b4;
}