.container{
    background-color: rgb(233, 173, 63);
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
.container p{
    font-size: 3rem;
    color:#ffffff;
}
.container input{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border-style: hidden;
    outline: none;
    padding: 0 12px;
}